$default-font: 'SF Pro Display', sans-serif;

/*----Size const------*/
$rem-size: 16;

$width-container: 1200;
$padding-container: 0;
$padding-container-mob: 0;

/*----media const------*/
$desk-sm-width: 1180px;
$tab-width: 980px;
$mob-width: 767px;
$xs-mob-width: 520px;

$animate-time: .2s;

